@inherits CreateSessionBase

<Validations @ref="Validations" Mode="ValidationMode.Manual">
    <Row>
        <Field>
            <Validation Validator="@ValidationRule.IsNotEmpty">
                <TextEdit Placeholder="Name" @bind-text="this.PlayerName"/>
            </Validation>
        </Field>
    </Row>
</Validations>

<Row>
    <Button Color="Color.Primary" Block Clicked="this.OnCreateSessionClickAsync">Create</Button>
</Row>
<Row>
    <div style="margin-top: 25px;">
        @foreach (var point in this.PointsCollection)
        {
            <Check TValue="bool" @bind-Checked="@point.IsChecked">@point.Display</Check>
        }
    </div>
</Row>