@inherits JoinSessionBase

<Validations @ref="Validations" Mode="ValidationMode.Manual">
    <Row>
        <Field>
            <Validation Validator="@ValidationRule.IsNotEmpty">
                <TextEdit Placeholder="Name" @bind-text="this.PlayerName"/>
            </Validation>
        </Field>
    </Row>
    <Row>
        @*<Validation Validator="@ValidationRule.IsNotEmpty">*@
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <NumericEdit @bind-Value="@this.SessionNumber"
                                 Placeholder="Session number..." EnableStep="false"/>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Primary" Clicked="()=> this.OnJoinClickedAsync()">Join</Button>
                </Addon>
            </Addons>
        @*</Validation>*@
    </Row>
    <Row>
        <div style="margin-top: 25px;">
            <Figure Size="FigureSize.Is256x256">
                <FigureImage Source="_content/PointingPoker.Razor/img/poker.png" AlternateText="poker cards" />
            </Figure>
        </div>
    </Row>
</Validations>