@using PointingPoker.Razor.ViewModels
@inherits PlayerBase

<p>Hello: @this.Model?.Name !</p>
<p>Joined at : @this.Model?.TimeJoined.ToShortTimeString()</p>

<Cards Items="@this.Points"  OnVote="@this.NotifyVote"/>