@using PointingPoker.Razor.Services
@using PointingPoker.Razor.ViewModels
@inherits ScoreBase

@foreach (var player in ScoreViewModels)
{
    <div>
        @if (!string.IsNullOrEmpty(player.Points))
        {
            <i class="fas fa-check"></i>    
        }
        Player: @player.PlayerName -
        <p class="@this.VoteClass">Points: @player.Points</p>
    </div>
}
