@using PointingPoker.Razor.Services
@using PointingPoker.Razor.ViewModels
@inherits ScoreBase

@foreach (var player in ScoreViewModels)
{
    <div>
        Player: @player.PlayerName - <p class="@this.VoteClass">Points: @player.Points</p>
    </div>
}
