@using PointingPoker.Razor.Services
@using PointingPoker.Razor.ViewModels
@inherits ScoreBase

@foreach (var player in ScoreViewModels)
{
    <p>Player: @player.PlayerName - Points: @player.Points</p>
}
