@page "/"

<PageTitle>Session</PageTitle>

<h2>Hello, poker player!</h2>

<p>Create a new session or join an existing one...</p>

<Row>
    <Column ColumnSize="ColumnSize.Is2">
        <Button Color="Color.Primary" Block>Create</Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is1">
        <p>or</p>
    </Column>
    <Column ColumnSize="ColumnSize.Is4">
        <Addons>
            <Addon AddonType="AddonType.Body">
                <TextEdit Placeholder="Session number" />
            </Addon>
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Primary">Join</Button>
            </Addon>
        </Addons>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is9">
        <div style="margin-top: 25px;" class="d-flex justify-content-center">
            <Figure Size="FigureSize.Is256x256">
                <FigureImage Source="img/poker.png" AlternateText="poker cards" />
            </Figure>
        </div>
    </Column>
</Row>
